
<div id = "inputxyr">
  <form id = "newDot">
    <table class = "table data" border="1px">
      <tr>
        <td colspan="4"><h1 class="header data">Введите данные</h1></td>
      </tr>
      <tr>
        <td>
          <label class = "label x">
            <h3>Значение X:</h3><br/>
            <p-autoComplete [(ngModel)]="xInput" [suggestions]="xValuesFiltered" (completeMethod)="searchX($event)" name = "xInput" type="number" [maxlength]="10"></p-autoComplete>
          </label>
        </td>
        <td>
          <label class="label y">
            <h3>Значение Y:</h3><br/>
            <h4 align="center">{{yInput}}</h4>
            <p-slider [(ngModel)]="yInput" [step]="0.1" [min] = "-4.9" [max] = "4.9" name = "yInput" ></p-slider>
          </label>
        </td>
        <td>
          <label class = "label r">
            <h3>Значение R:</h3><br/>
            <p-autoComplete [(ngModel)]="rInput" [suggestions]="rValuesFiltered" (completeMethod)="searchR($event)" name = "rInput" type="number" [maxlength]="10"></p-autoComplete>
          </label>
        </td>
        <td id="picture" align="center">
          <svg height= "300px" width= "300px" xmlns="http://www.w3.org/2000/svg" id = "svg" (click)="svgClick($event)">
            <line stroke="white" x1="0" x2="300" y1="150" y2="150" />
            <line stroke="white" x1="150" x2="150" y1="0" y2="300" />

            <polygon fill="white" points="150,0 144,15 156,15" stroke="white" />
            <polygon fill="white" points="300,150 285,156 285,144" stroke="white" />

            <line stroke="white" x1="200" x2="200" y1="155" y2="145" />
            <line stroke="white" x1="250" x2="250" y1="155" y2="145" />

            <line stroke="white" x1="50" x2="50" y1="155" y2="145" />
            <line stroke="white" x1="100" x2="100" y1="155" y2="145" />

            <line stroke="white" x1="145" x2="155" y1="100" y2="100" />
            <line stroke="white" x1="145" x2="155" y1="50" y2="50" />

            <line stroke="white" x1="145" x2="155" y1="200" y2="200" />
            <line stroke="white" x1="145" x2="155" y1="250" y2="250" />

            <polygon points="150,150 150,200 200,150" stroke="white" fill-opacity="0.3" class = "figure triangle" />

            <polygon fill-opacity="0.3" points="150,150 50,150 50,100 150,100"
                     stroke="white" class = "figure square" />
            <path d="M 200 150 A 50 50, 90, 0, 0, 150 100 L 150 150 Z"  fill-opacity="0.3"
                  stroke="white" class = "figure circle" />

            <text fill="white" x="195" y="140">R/2</text>
            <text fill="white" x="252" y="140">R</text>

            <text fill="white" x="40" y="140">-R</text>
            <text fill="white" x="90" y="140">-R/2</text>

            <text fill="white" x="160" y="105">R/2</text>
            <text fill="white" x="160" y="45">R</text>

            <text fill="white" x="160" y="205">-R/2</text>
            <text fill="white" x="160" y="265">-R</text>

            <text fill="white" x="288" y="140">X</text>
            <text fill="white" x="160" y="10">Y</text>
          </svg>
        </td>
      </tr>
      <tr>
        <td>
          <button class="buttons" pButton label="Проверить" type="submit" (click)="onSubmit()"></button>
        </td>
        <td colspan="2">
          <p-dialog  [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
                    [baseZIndex]="10000"
                    [draggable]="false" [resizable]="false">
            <p class="p-error">{{errorMessage}}</p>
          </p-dialog>
        </td>
        <td>
          <button class="buttons" pButton label="Сбросить" (click)="confirm()"></button>
        </td>
      </tr>
    </table>
  </form>
</div>
<div id="result_table">
  <table align="center" id = "table_xyr">
    <tr>
      <th class="col1">X value</th>
      <th class="col1">Y value</th>
      <th class="col1">R value</th>
      <th class="col1">Hit result</th>
    </tr>
    <tr *ngFor="let point of rows">
      <td class="col1">{{point.x_value}}</td>
      <td class="col1">{{point.y_value}}</td>
      <td class="col1">{{point.r_value}}</td>
      <td class="columns">{{point.ingress}}</td>
    </tr>
  </table>
</div>
<div>
  <button routerLink="/start" id="exit" pButton type="button" label="Exit"
          class="buttons" (click)="onExit()" ></button>
</div>
<!--<div id="main_page">-->
<!--  <div id="form_block" class="main_block">-->
<!--    <div class="values">X value</div>-->
<!--    <p-autoComplete [(ngModel)]="xInput" [suggestions]="xValuesFiltered" (completeMethod)="searchX($event)" name = "xInput" type="number"></p-autoComplete>-->
<!--    <div class="values">Y value: {{yInput}}</div>-->
<!--    <p-slider [(ngModel)]="yInput" [step]="0.1" [min] = "-4.9" [max] = "4.9" name = "yInput" [style] = "{margin: 'auto', width: '50%'}"></p-slider>-->
<!--    <div class="values">R value</div>-->
<!--    <p-autoComplete [(ngModel)]="rInput" [suggestions]="rValuesFiltered" (completeMethod)="searchR($event)" name = "rInput" type="number"></p-autoComplete>-->
<!--  </div>-->
<!--</div>-->
